/* Estilos Otimizados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    color: #243B56E6;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

    /* Novas propriedades agregadas */
    user-select: none;         /*impede que o conteúdo possa ser selecionado com o mouse.*/
    -webkit-user-select: none; /*cobre versões mais antigas do Chrome, Safari, e navegadores
                               baseados em WebKit (incluindo alguns navegadores móveis).*/
    -moz-user-select: none; /*necessário para versões mais antigas do Firefox*/
    -ms-user-select: none; /*para compatibilidade com o I Explorer e ver. + antigas Microsoft Edge.*/
    -webkit-touch-callout: none;
}

/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    color: #243B56E6;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos para o Título */
h1, h2, h3, h4, h5, h6 {
    color: #243B56;
    font-size: 35px;
    text-align: justify;
    line-height: 1.5;
}

/* Estilos para o Texto */
p {
    color: #243B56E6;
    font-size: 22px;
    text-align: justify;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 18px;
    }

    p {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 16px;
    }

    p {
        font-size: 18px;
    }
}
/* Estilo para Títulos */
.titulo-principal {
    color: #243B56E6;
    font-size: 22px;
    text-align: justify;
    font-family: 'Arial', sans-serif;
}

/* Estilo para Parágrafos */
.texto-principal {
    color: #243B56;
    font-size: 35px;
    text-align: justify;
    font-family: 'Arial', sans-serif;
}

/* Estilo específico para um parágrafo único */
#paragrafo-unico {
    color: #FF5733; /* Cor diferente para destacar */
    font-size: 40px;
    text-align: justify;
    font-family: 'Arial', sans-serif;
}

/* Responsividade */
@media (max-width: 768px) {
    .titulo-principal {
        font-size: 18px;
    }

    .texto-principal {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .titulo-principal {
        font-size: 16px;
    }

    .texto-principal {
        font-size: 18px;
    }
}
